--index-url https://pypi.org/simple
--extra-index-url https://www.piwheels.org/simple
flask==2.2.5
Werkzeug==2.2.3
numpy==2.2.4
pillow==10.2.0
scikit-image==0.22.0
gunicorn==21.2.0
click==8.0.4
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.1.1
setuptools==59.6.0 