--no-binary :all:
flask==2.2.5
Werkzeug==2.2.3
numpy==2.2.4
opencv-python-headless==4.8.1.78
scikit-image==0.22.0
gunicorn==21.2.0
click==8.0.4
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.1.1
setuptools==59.6.0 